*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #1c1c22;
  font-family: "jetbrains mono", monospace;
}
.principalTitle{
  border: 2px solid red;
  color: white;
  text-align: center;
  padding: 10px;
  margin: 10px;
  font-size: xx-large;
  font-weight: bold;
  min-width: 80%;
  justify-content: center;
  align-items: center;
  display: flex;
}
.header{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.menu {
  position: fixed;
  top: 200px;
  left: 0;
  left: 0;
  width: 200px; 
  height: 100%; 
  background-color: #1c1c22;
  padding-top: 20px; 
}
.menu a {
  display: block; 
  color: white; 
  padding: 10px 15px; 
  text-decoration: none; 
  font-size: x-large; 
}
.menu a:hover {
  background-color: #3dadf2;
  color: black;
}
.about{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.sectionTitle{
  color: white;
  font-size: xx-large;
  font-weight: bold;
  margin: 10px;
}
.fotoPrincipal{
  width: 400px;
  height: 450px;
  border-radius: 50%;
  margin: 10px;
}
.nombre{
  color: #3dadf2;
  font-size: xx-large;
  font-weight: bold;
  margin: 10px;
}
p{
  color: white;
  font-size: x-large;
  text-align: center;
  margin: 10px;
}
.aboutInfo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  width: 50%;
  border: 2px solid red;
}

.projects{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.project{
  display: flex;
  flex-direction: column;
  border: 2px solid red;
}
.projectTitle{
  color: white;
  font-size: xx-large;
  font-weight: bold;
  margin: 10px;
  justify-content: center;
}
.fotoProyecto{
  width: 400px;
  height: 450px;
  margin: 10px;
}
.projectContent {
  display: flex; /* Utiliza flexbox para alinear los elementos en fila */
  justify-content: space-between; /* Espacio entre los elementos */
}

.projectContent img {
  width: 50%; /* Ocupa el 50% del contenedor */
}

.projectContent h2 {
  width: 50%; /* Ocupa el 50% del contenedor */
  display: flex; /* Alinea el texto verticalmente */
  align-items: center; /* Centra el texto verticalmente */
  justify-content: center; /* Centra el texto horizontalmente */
  text-align: center; /* Asegura que el texto esté centrado */
}