*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #1c1c22;
  font-family: "jetbrains mono", monospace;
}
.principalTitle{
  border: 2px solid red;
  color: white;
  text-align: center;
  padding: 10px;
  margin: 10px;
  font-size: xx-large;
  font-weight: bold;
  min-width: 80%;
  justify-content: center;
  align-items: center;
  display: flex;
}
.header{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.menu {
  position: fixed;
  top: 200px;
  left: 0;
  left: 0;
  width: 200px; 
  height: 100%; 
  background-color: #1c1c22;
  padding-top: 20px; 
}
.menu a {
  display: block; 
  color: white; 
  padding: 10px 15px; 
  text-decoration: none; 
  font-size: x-large; 
}
.menu a:hover {
  background-color: #3dadf2;
  color: black;
}
.about{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.sectionTitle{
  color: white;
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
  margin: 10px;
}
.fotoPrincipal{
  width: 400px;
  height: 450px;
  border-radius: 50%;
  margin: 10px;
}
.nombre{
  color: #3dadf2;
  font-size: xx-large;
  font-weight: bold;
  margin: 10px;
}
p{
  color: white;
  font-size: x-large;
  text-align: center;
  margin: 10px;
}
.aboutInfo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  width: 50%;
  border: 2px solid red;
}

.sectionContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
}
.project{
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid blue;
  width: 50%; /* Ocupa el 50% del contenedor */
  margin: 10px;
}
.projectTitle{
  color: white;
  font-size: xx-large;
  font-weight: bold;
  margin: 10px;
  text-align: center;
}
.fotoProyecto{
  width: 150px;
  height: 120px;
  margin: 10px;
  flex-shrink: 0; /* Evita que la imagen se reduzca */
}
.studyContent {
  display: flex; /* Utiliza flexbox para alinear los elementos en fila */
  justify-content: center; /* Espacio entre los elementos */
  
}

.studyContent img {
  width: 30%; /* Ocupa el 50% del contenedor */
}

.studyContent h2 {
  width: 50%; /* Ocupa el 50% del contenedor */
  display: flex; /* Alinea el texto verticalmente */
  align-items: center; /* Centra el texto verticalmente */
  justify-content: center; /* Centra el texto horizontalmente */
  text-align: center; /* Asegura que el texto esté centrado */
}

.projectContent {
  display: flex; /* Utiliza flexbox para alinear los elementos en fila */
  justify-content: center; /* Espacio entre los elementos */
  height: 400px;
}

.projectContent img {
  width: 30%; /* Ocupa el 50% del contenedor */
  height: 90%;
}

.projectContent h2 {
  width: 50%; /* Ocupa el 50% del contenedor */
  display: flex; /* Alinea el texto verticalmente */
  align-items: center; /* Centra el texto verticalmente */
  justify-content: center; /* Centra el texto horizontalmente */
  text-align: center; /* Asegura que el texto esté centrado */
}

.studiesContent{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.projectTitleContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  border: 2px solid green;
  width: 70%;
}
.projectInfo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  border: 2px solid yellow;
}
