*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #afd5eb;
  font-family: "jetbrains mono", monospace;
}
.principalTitle{
  text-align: center;
  margin-top: 20px;
}
.principalSection{
  display: flex;
  justify-content: center;
}
.formContainer{
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: center;
  height: 90%;
  font-size:x-large;
  margin: 50px;

}
.formSection{
  width: 80%;
  padding: 20px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 0 10px black;
}
.divPersonalInput{
  margin: 10px;
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.divInput{
  margin: 10px;
}

.dataInput{
  width: 60%;
  font-size:x-large;
  background-color: #3dadf2;
}
.dateInput{
  width: 20%;
  font-size:x-large;
}
.textareaInput{
  width: 60%;
  font-size:x-large;
}

.dataInput:focus, .dateInput:focus, .textareaInput:focus {
  outline: none; 
  border-color: #3dadf2; 
}
.buttonSection{
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}
.buttonInputSend{
  width: 40%;
  font-size: large;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}
.buttonInputSend:hover {
  background-color: #45a049;
}
.buttonInputClean{
  width: 40%;
  font-size: large;
  background-color: #703030;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}
.buttonInputClean:hover {
  background-color: #461c1c;
}
.footer{
  text-align: center;
  margin-top: 20px;
}